<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
    <files>
      <add value="backend/server.js" />
    </files>
    </defaultDocument>
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="backend/server.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
